.mm-catetog {
  margin-bottom: 1.70666667rem;
}
.mm-catetog .mm-toggle {
  background-color: #ededed;
  line-height: 1.536rem;
}
.mm-catetog .mm-toggle span:nth-child(1) {
  font-size: 0.68266667rem;
}
.mm-catetog .mm-toggle i {
  width: 1.536rem;
  height: 1.536rem;
  font-size: 0.68266667rem;
  line-height: 1.536rem;
}
.mm-catetog .mm-toggle ul {
  background-color: #fff;
}
.mm-catetog .mm-toggle ul li {
  float: left;
  box-sizing: border-box;
  width: 5.33333333rem;
  border: 1px solid #d1d1d1;
  margin: 0 0 -1px -1px;
  text-align: center;
  height: 1.70666667rem;
  line-height: 1.70666667rem;
  font-size: 0.512rem;
}
.mm-catetog .mm-toggle ul li a {
  text-decoration: none;
  color: #000;
}
