.mm-prolist {
  background-color: #fff;
}
.mm-prolist li a {
  display: block;
  width: 100%;
  height: 4.90666667rem;
}
.mm-prolist li a .img {
  float: left;
  width: 5.12rem;
  height: 100%;
  padding-left: 0.64rem;
  padding-top: 0.59733333rem;
  box-sizing: border-box;
}
.mm-prolist li a .img img {
  width: 80%;
  height: 80%;
}
.mm-prolist li a .right {
  overflow: hidden;
  padding-top: 0.42666667rem;
}
.mm-prolist li a .right h3 {
  font-size: 0.59733333rem;
}
.mm-prolist li a .right .price {
  font-size: 0.55466667rem;
  color: red;
  height: 1.62133333rem;
  line-height: 1.62133333rem;
}
.mm-prolist li a .right .comment {
  color: #9fa09f;
  font-size: 0.55466667rem;
}
.mm-prolist li a .right .comment span:nth-child(1) {
  margin-right: 0.17066667rem;
}
.mm-prolist .mm-pagination {
  height: 1.70666667rem;
  padding-top: 0.21333333rem;
  border-top: 0.21333333rem solid #f1f1f1;
}
.mm-prolist .mm-pagination button {
  height: 1.28rem;
  width: 3.54133333rem;
  font-size: 0.68266667rem;
}
.mm-prolist .mm-pagination button:first-child {
  margin-left: 0.85333333rem;
  float: left;
}
.mm-prolist .mm-pagination button:last-child {
  float: right;
  margin-right: 0.85333333rem;
}
.mm-prolist .mm-pagination select {
  width: 2.56rem;
  height: 1.28rem;
  float: left;
  margin-left: 1.70666667rem;
  font-size: 0.59733333rem;
  box-sizing: border-box;
  text-align: center;
  padding-left: 0.17066667rem;
}
